body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.voter-information-card p span {
  font-weight: bold;
}

.election-table {
  border: 1px solid gray;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.election-table .table-col.votes,
.table-row.votes-column {
  text-align: right;
}

.table-row {
  padding: 4px;
  margin: 10px 0 10px 0;
  border-bottom: 1px solid black;
}
